{% extends 'base.html'%}

{% block head %}
    <title>AI Chat</title>
{% endblock %}

{% block body %}
    <h1>AI Assistant</h1>
    <textarea id="message" placeholder="Type your message here" cols="50"></textarea>
    <button type="submit">Send</button>
    <pre id="body"></pre>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        const body = document.getElementById('body');
        const submit_button = document.querySelector('button');
        const message = document.getElementById('message');

        submit_button.addEventListener("click", async(e) => {
            e.preventDefault();

            const response = await fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({message: message.value})
            });

            const reader = response.body.getReader();
            let output = '';

            while (true) {
                const {done, value} = await reader.read();
                
                output += new TextDecoder().decode(value);

                body.innerHTML = marked.parse(output);

                if (done) {
                    return;
                }
            }
        });
    </script>
{% endblock %}