{% extends 'base.html'%}

{% block head %}
    <title>AI Chat</title>
{% endblock %}

{% block body %}
    <h1>AI Assistant</h1>
    <textarea id="message" placeholder="Type your message here" cols="50"></textarea>
    <button type="submit">Send</button>
    <pre id="body"></pre>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        const body = document.getElementById('body');
        const submit_button = document.querySelector('button');
        const message = document.getElementById('message');

        submit_button.addEventListener("click", async(e) => {
            e.preventDefault();

            const response = await fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({message: message.value})
            });

            const reader = response.body.getReader();
            let output = '';

            while (true) {
                const {done, value} = await reader.read();
                
                output += new TextDecoder().decode(value);

                body.innerHTML = marked.parse(output);

                if (done) {
                    return;
                }
            }
        });
    </script>

    <div class="chatbot">
        <header>
            <h2>Chatbot</h2>
        </header>
        <ul class="chatbox">
            <li class="chat incoming">
                <span class="material-symbols-outlined">smart_toy</span>
                <p>Hi! I'm a chatbot. How can I help you today?</p>
            </li>
            <li class="chat outgoing">
                <span class="material-symbols-outlined">smart_toy</span>
                <p>This is the outgoing chat</p>
            </li>
        </ul>

        <div class="chat-input">
            <textarea placeholder="Enter a message..."></textarea>
            <span id="send-btn" class="material-symbols-outlined">send</span>
        </div>
    </div>
{% endblock %}