{% extends 'base.html'%}

{% block head %}
    <title>AI Chat</title>
{% endblock %}

{% block body %}
<!-- <pre id="body"></pre>  -->>
    <div class="chatbot">
        <header>
            <h2>Chatbot</h2>
        </header>
        <ul class="chatbox">
            <li class="chat incoming">
                <span class="material-symbols-outlined">smart_toy</span>
                <p>Hi! I'm a chatbot. How can I help you today?</p>
            </li>
        </ul>

        <div class="chat-input">
            <textarea id = "input" placeholder="Enter a message..."></textarea>
            <span id="send-btn" class="material-symbols-outlined">send</span>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        //const body = document.getElementById('body');
        const submit_button = document.querySelector(".chat-input span");
        const message = document.getElementById('input');
        const chatbox = document.querySelector('.chatbox');

        // Create a new chat list element with passed message and class name
        const createChatLi = (message, className) => {
                const chatLi = document.createElement('li');
                chatLi.classList.add('chat', className);
                let chatContent = className === 'outgoing' ? `<p>${message}</p>` : `<span class="material-symbols-outlined">smart_toy</span><p>${message}</p>`;
                chatLi.innerHTML = chatContent;
                return chatLi;
            };

        // Creates the chatbox for input message from user
        const handleOutChat = () => {
            userMessage = message.value;
            chatbox.appendChild(createChatLi(userMessage, 'outgoing'));

            setTimeout(() => {
            }, 2000);
        }

        //Creates the chatbox for output message from chatbot
        const handleInChat = (message) => {
            chatbox.appendChild(createChatLi(message, 'incoming'));
        }
    
        // Event listener for submit button
        submit_button.addEventListener("click", async(e) => {
            e.preventDefault();

            //Get the ai response from the backend
            const response = await fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({message: message.value})
            });

            handleOutChat();
            const reader = response.body.getReader();
            let output = '';

            // Read the partial response from the backend
            while (true) {
                const {done, value} = await reader.read();
                
                output += new TextDecoder().decode(value);

                //body.innerHTML = marked.parse(output);

                if (done) {
                    break;
                }
            }

            handleInChat(output);
        });
    </script>
{% endblock %}